spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    open-in-view: true
    show-sql: true
    generate-ddl: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

# JWT Configuration
jwt:
  secret: ${JWT_SECRET}
  accessExpiration: ${JWT_ACCESS_EXPIRATION:1800}
  refreshExpiration: ${JWT_REFRESH_EXPIRATION:604800}


# Kakao OAuth Configuration
auth:
  kakao:
    native-app-key: ${KAKAO_NATIVE_APP_KEY}
    api-url: https://kapi.kakao.com
    token-url: https://kauth.kakao.com